@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil&family=Candal&family=Monoton&family=Open+Sans&family=Oswald:wght@500&family=Roboto+Condensed&family=Sansita:ital@1&display=swap');
body{
  background-color:#171923 ;
   font-family: Roboto, Arial, sans-serif;

}

a{
  text-decoration: none;
}